*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-color: red;
}
.grey-text li a hover{
	background-color: green;
	color: white;
	text-decoration: underline;
}
#box{
	width: 100%;
	max-width: 800px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	padding: 0 px;
	box-sizing: border-box;
	height: 270px;
	background-color: red;
}
